* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: black;
    color: white;
    height: 65vh;
    width:40vh;
    display: flex;
    flex-direction: column;
    border-radius: 5vh;
}

.buttons {  
    flex: 5 5 0;
    display: flex;
    flex-direction: column; 
    margin: 0.5vh;
}

.display {
    flex: 2 2 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 2vh;
    font-size: 6vh;
}

.button-row {
    display: flex;  
    flex: 1 1 0;
    justify-content: space-around;
}

button {
    max-width: 8vh;
    flex: 1 1 0;   
    border-radius: 20vh;
    margin: 0.5vh;
    font-size: 3vh;
    border: 0;
}

.action {
    background-color: #aaaaaa;
}

.number, .decimal, .operator, .equals {
    color: white;
}

.number , .decimal{
    background-color: #232428
}

.operator, .equals{
    background-color: #FF9500;
}

.zero {
    max-width: 18vh;
    flex: 3 3 0;
    padding-left: 3vh;
    text-align: left;
}